<h2>Relations</h2>
<h3>Amis</h3>
<div class="row-fluid">
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
</div>
<div id="pagination-product-friend" class="pagination"
	style="text-align: center;">
	<ul>
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class=""><a href="#">&raquo;</a></li>
	</ul>
</div>

<h3>Voisins</h3>
<div class="row-fluid">
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
	<div class="span3" style="text-align: center;">
		<a href="#" class="thumbnail"> <img
			src="http://placehold.it/160x120" alt=""></a> Username<br>
		Name<br> Online
	</div>
</div>
<div id="pagination-product-friend" class="pagination"
	style="text-align: center;">
	<ul>
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class=""><a href="#">&raquo;</a></li>
	</ul>
</div>
