<h2>Demandes de mise en relation re&ccedil;ues </h2>
<div>
	<table id="query-table-content"
		class="table table-striped table-bordered table-condensed .table-striped">
		<thead>
			<tr>
				<th id="producer" class="query-table-header">Producteur</th>
				<th id="product" class="query-table-header">Message</th>
				<th id="quantity" class="query-table-header">Type</th>
				<th id="maj" class="query-table-header">Derni&egrave;re MAJ</th>
				<th id="state">Etat</th>
			</tr>
		</thead>
		<tbody>
			{{#request}}
			<tr>
				<td>{{sender.}}</td>
				<td>{{message}}</td>
				<td>{{type}}</td>
				<td>{{update}}</td>
				<td>{{status}}</td>
			</tr>
			{{/request}}
		</tbody>
	</table>
</div>
<div id="pagination-product" class="pagination"	style="text-align: center;">
	<ul><li></li></ul>
</div>