@main("home") {
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Personal Informations</li>
					<li class="active"><a href="#generalInformation">General Information</a></li>
					<li class=""><a href="#address">Address</a></li>
					<li class=""><a href="#credentials">Credential</a></li>
				</ul>
				<ul class="nav nav-list">
					<li class="nav-header">Profil</li>
					<li class=""><a href="#profil">Description</a></li>
					<!-- li class=""><a href="#relationships">Relations</a></li-->
				</ul>
				<ul id="gardens" class="nav nav-list">
					<li class="nav-header">Gardens</li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
		<div class="span9">
			<div class="hero-unit hero-unit-custom" id="content"></div>
		</div>
		<!--/row-->
	</div>
}
