    <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
			<form class="navbar-search pull-right form-inline" action="">
				<button type="submit" class="btn" style="margin-top:0px;">Deconnexion</button>
			</form>
            <p class="navbar-text pull-right"><span>Logged in as <a href="#">Mickael Dubois</a>&nbsp;</span></p> 
          </div><!--/.nav-collapse -->
        </div>
    </div>