<h2>Change password</h2>
<form id="chgPasswd" class="form-horizontal" action="/home/credentials" method="POST">
	<fieldset>
		<div id="messagePanel" class="alert" style="display: none">
			<span id="message"></span>
		</div>
		<div id="oldPasswordField" class="control-group">
			<label class="control-label" for="oldPassword">Actual password :</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="oldPassword" name="oldPassword" value="">
				<span class="help-inline error-msg" id="oldPasswordErrorMessage"></span>
			</div>
		</div>
		<div id="newPasswordField" class="control-group">
			<label class="control-label" for="newPassword">New password :</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="newPassword" name="newPassword">
				<span class="help-inline error-msg" id="newPasswordErrorMessage"></span>
			</div>
		</div>
		<div id="retypeNewPasswordField" class="control-group">
			<label class="control-label" for="retypeNewPassword">Retype password :</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="retypeNewPassword" name="retypeNewPassword">
				<span class="help-inline error-msg" id="retypeNewPasswordErrorMessage"></span>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save changes</button>
			<button type="reset" class="btn">Cancel</button>
		</div>
	</fieldset>
</form>
<script>
	$('form#chgPasswd').form();
</script>